.display-hide{
    display: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.gif-result-container{
    position: absolute;
    width: 35%;
    top: 0;
    transform: translateY(20%);
    min-height: 30vh;
    max-height: 50vh;
    border: 1px solid var(--add-post-border);
    background-color: white;
    overflow: scroll;
}
.search-gif input{
    width: 100%;
    outline: none;
    border: none;
}
li img{
    width: 100%;
    height: auto;
    cursor: pointer;
}